#cssResult {
  display: none;
}
#rubyResult {
  display: none;
}
#phpResult {
  display: none;
}
#javaResult {
  display: none;
}
#csharpResult {
  display: none;
}


h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: center;
}

h4{
  padding-top: 10px;
}

.well {
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 25px;
  margin: 40px;
  padding: 20px;
}

.btn {
  background-color: gray;
  margin: 30px;
  float: right;
}

.form-control {
  margin: 30px;
}
